# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*    # nếu dùng nhiều env như .env.development, .env.test

# Build output
dist/
build/
out/
coverage/

# OS junk files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Testing
coverage/
jest-html-reporters-*.html

# PM2 process logs (nếu dùng)
pids/
*.pid
*.seed
*.pid.lock

# Debugger configs
*.tgz

# Typescript
*.tsbuildinfo

# Misc
*.local

